*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
nav{
   background-color: white;
   box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
   font-size: 15px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav ul{
    color: black;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
    margin-top: 15px;
}
nav li{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
}
nav li:hover{
    color:rgb(206, 145, 220);
}

nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    color: black;
    width: 250px;
    z-index: 999;
    background-color: rgb(217, 214, 214);
    box-shadow: -10px 0 5px rgba(0,0,0,0.1);
    backdrop-filter: blur(35px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
    color: black;
}
.sidebar a{
    width: 100%;
    color: black;
}
.sidebar a:hover{
    color: purple;
}
.menuButton{
    display: none;

}

@media (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menuButton{
        display: block;
    }
    
}
@media (max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

.headerContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}


.discoverMe{
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: center;
    background-color: rgb(206, 145, 220);
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
}
.discoverMe:hover{
    background-color: black;
    color: white;
}
.aboutContent{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;

}
@media (max-width:800px) {
    .aboutContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}
.aboutHeader{
    justify-content: center;
    align-items: center;
    /* padding: 10px 20px; */
}
.aboutP{
    font-size:20px;
    width: 500px;
    align-items: center;
    justify-content: center;
}

.progressBar{
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
}

@media (max-width: 800px){
    .progressBar{
        display: flex;
        flex-direction: column;
        height: 100%;

    }
    
}
@media (max-width: 300px){
    .progressBar{
        display: flex;
        flex-direction: column;
        height: 100%;

    }
    .about h1{
        justify-content: center;
        width: 100vw;
    }
    .aboutP{
        font-size:20px;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .aboutHeader{
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        display: flex;
    }
    .projects {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        
    }
}

.contactDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
.contactDiv h1{
    text-align: center;
    height: 50vh;
}

.contactDiv table{
    width: 100%;
    text-align: center;
    padding: 10px 20px;

}
.contactDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.contactDiv button{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.contactButton{
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: center;
    background-color: rgb(206, 145, 220);
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.contactButton:hover{
    background-color: black;
    color: white;

}
@media (max-width: 800px){
    .contactDiv{
        display: flex;
        height: 100%;
        align-items: center;
    }
    .contactDiv h1{
        text-align: center;
        height: 10vh;
    }
    .contactDiv table{
        width: 100%;
        text-align: center;
        padding: 10px 20px;
    }
    .contactDiv button{
        align-items: center;
        margin-bottom: 20px;
        text-decoration: none;
    }
    .contactButton{
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-align: center;
        background-color: rgb(206, 145, 220);
        border-radius: 5px;
        border: none;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
    }
    .contactButton hover{
        background-color: black;
        color: white;
    }
    .contactButton a{
        color: white;
        text-decoration: none;
    }

}

.footerContent{
    height: 40vh;
    background-color: darkslateblue;
    display: flex;
    justify-content: space-between;
}
.footerContent .created{
    color: white;
    padding-top: 50px;
    padding-left: 30px;
    display: flex;
    justify-content: left;
    height: 200px;
    width: 500px;
}
.footerContent .newsletter{
    color: white;
    padding-top: 50px;
    padding-left: 30px;
    /* display: flex;
    justify-content: center; */
    height: 200px;
    width: 500px;
}
.footerContent .subscribe{
    background-color: seashell;
    padding: 10px 20px;
    color: black;
    border-radius: 5px;

}
.footerContent .subscribe:hover{
    background-color: black;
    color: white;
}
.footerContent .follow a img{
    width: 50px;
    height: 50px;
    padding: 10px 20px;
}
@media (max-width: 800px){
    .footerContent{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .footerContent .created{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .footerContent .newsletter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .footerContent .follow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .footerContent .follow a img{
        width: 50px;
        height: 50px;
        padding: 10px 20px;
    }

    .footerContent .subscribe:hover{
        background-color: black;
        color: white;
    }

}

.contactContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: rgb(206, 145, 220);
    color: white;
}
.contactLeft{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;

}
.contactLeftTitle{
    align-items: center;
    color: black;
}
.contactLeftTitle hr{
    width: 117px;
    height: 3px;
    background-color: black;
    border: none;
    border-radius: 5px;
}
.contactInputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: black;
    border-radius: 5px;
}
.contactInputs::placeholder{
    color: rgb(86, 83, 83);
}
.submit{
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: white;
    background-color: rgb(7, 14, 7);
    border-radius: 5px;
}
.submit:hover{
    background-color: rgb(86, 203, 80);
    color: white;
}

@media(max-width:800px){
    .contactInputs{
        width: 80vw;
    }
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

}
.projects a{
    color: white;
    text-decoration: none;
}

.projectDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 500px;
    background-color: rgb(121, 230, 235);
    color: white;
    border: 2px solid gray;
    border-radius: 5px;
    margin-left: 70px;
    margin-right: auto;

}
.projectDisplay:hover{
    box-shadow: 40px 10px 30px rgba(5, 167, 236, 0.1);
}
.projectDisplay button{
    background-color: rgb(48, 73, 73);
    backdrop-filter: blur(35px);
    color: white;
}
@media (max-width: 800px){
    .projectDisplay{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 80vw;
        background-color: rgb(227, 156, 222);
        color: white;
        border: 2px solid gray;
        border-radius: 5px;
        margin-left: 70px;
        margin-right: auto;
    }
    .projectDisplay:hover{
        box-shadow: 5px 10px 5px rgb(238, 8, 211);
    }
}